{% extends 'pdfs/static/base' %}

{% block additional_styles %}
    <style>
        div.first-column {
            width: 35%;
        }

        div.second-column {
            width: 35%;
        }

        div.margin-top {
            margin-top: 30px;
        }

        div.report-area .padding-right {
            padding-right: 2%;
        }

        div.additional-columns {
            width: 10%;
        }
    </style>
{% endblock %}


{% block title %}
    <title>Stundenübersicht: {{ employee.full_name }}</title>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div class="offer-title">
            <b>Stundenübersicht: {{ employee.full_name }}</b>
        </div>
    </div>

    <div class="margin-top">
        Leistungen vom {{ start | date("d.m.Y") }} bis zum {{ end | date("d.m.Y") }}.<br/>
        Gesamtstunden: {{ (total_hours / 60) | round(2) }}.
    </div>

    <div class="margin-top report-area">
        <div class="avoid-page-break">
            <div class="float-left bold first-column padding-right">
                Projekt
            </div>
            <div class="float-left bold second-column padding-right">
                Bezeichnung
            </div>
            <div class="float-left bold text-align-right additional-columns padding-right">
                Anzahl
            </div>
            <div class="float-left bold additional-columns padding-right">
                Einheit
            </div>
        </div>

        <div class="clear-float"></div>
        <br/>
        <hr/>
        <br/>

        {% for date, items in content %}
            <div class="avoid-page-break">
                <div class=bold">Tag: {{ date|date("d.m.Y") }}</div>
                <br>
                {% for effort in items %}
                    <div class="float-left first-column padding-right">
                        {{ effort.position.project.name }}
                    </div>

                    <div class="float-left second-column padding-right">
                        {% if effort.position.description is empty %}
                            {{ effort.position.service.name }}
                        {% else %}
                            {{ effort.position.description }}
                        {% endif %}
                    </div>
                    <div class="float-left text-align-right additional-columns padding-right">
                        {{ ( effort.position.rate_unit.is_time ? (effort.value / effort.position.rate_unit.factor) : effort.value) | round(2) }}
                    </div>
                    <div class="float-left additional-columns padding-right">
                        {{ effort.position.rate_unit.effort_unit }}
                    </div>
                    <div class="clear-float"></div>
                {% endfor %}

                <br/>
                <hr/>
                <br/>
            </div>
        {% endfor %}
    </div>
{% endblock %}
