<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        * {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            line-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
        }

        table tr td {
            padding-right: 5%;
            padding-bottom: 0.5%;
        }
    </style>
</head>

<body class="text-align-right">
<div style="margin-top: 67%; margin-left: -20px; width: 100%; height: 35%">
    <div style="width: 100%; position: absolute; top: -250px">
        <div style="margin: 7% 0 0 0; font-size: 14px;">Bankzahlung</div>
        <div>Sie können diese Informationen verwenden, um die Zahlung über Online-Banking oder am Bankschalter zu tätigen. Vergessen Sie nicht, die Referenz anzugeben.</div>

        <table style="width: 100%; padding-left: 0; margin-left: 0; font-size: 14px;">
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">Finanzinstitut</td>
                <td>{{ settings.sender_bank_detail }}</td>
            </tr>
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">Zugunsten von</td>
                <td>{{ settings.sender_name }}, {{ settings.sender_street }}, {{ settings.sender_zip }} {{ settings.sender_city }}</td>
            </tr>
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">Verwendungszweck</td>
                <td>Rechnung Nr. {{ invoice.id }}</td>
            </tr>
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">IBAN</td>
                <td>{{ settings.sender_bank_iban }}</td>
            </tr>
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">BIC</td>
                <td>{{ settings.sender_bank_bic }}</td>
            </tr>
            <tr style="padding-left: 0; margin-left: 0;">
                <td style="width: 20%">Betrag offen</td>
                <td>CHF {{ breakdown.total | money }}</td>
            </tr>
        </table>
    </div>
    <div style="float: left; width: 28%; padding-right: 2%">
        <div style="margin: 7% 0 0 0; font-size: 14px; height: 33%">
            <div style="font-weight: bold;">{{ settings.sender_name }}</div>
            {{ settings.sender_street }}<br>
            {{ settings.sender_zip }} {{ settings.sender_city }}
        </div>

        <div class="text-align-right" style="margin:3% 8% 0 10%; font-size: 10px; text-align: right;">
            {{ settings.sender_bank }}
        </div>

        <div style="margin: 5.5% -1.5% 0 0; text-align: right; width: 100%">
           <pre style="margin: 0 0 0 0; padding: 0 5px 0 0; font-size: 18px; letter-spacing: 10px;">{{ formatted_total }}</pre>
        </div>

        <div style="margin: 7% 0 0 0; font-size: 14px;">
            {{ addressLabel | raw }}
        </div>
    </div>
    <div style="float: left; width: 28%; padding-right: 2%">
        <div style="margin: 7% 0 0 0; font-size: 14px; height: 33%">
            <div style="font-weight: bold;">{{ settings.sender_name }}</div>
            {{ settings.sender_street }}<br>
            {{ settings.sender_zip }} {{ settings.sender_city }}
        </div>

        <div class="text-align-right" style="margin:3% 0 0 10%; font-size: 10px; text-align: right;">
            {{ settings.sender_bank }}
        </div>

        <div style="margin: 5.5% -7% 0 0; text-align: right; width: 100%">
            <pre style="margin: 0 0 0 0; padding: 0 5px 0 0; font-size: 18px; letter-spacing: 10px;">{{ formatted_total }}</pre>
        </div>
    </div>
    <div style="float: left; width: 36%; padding: 0 2% 0 2%">
        <div style="margin: 7% 0 0 0; font-size: 14px; height: 23%">
            Rechnung Nr. {{ invoice.id }}
        </div>

        <div style="margin: 20% 0 0 0; font-size: 14px;">
            {{ addressLabel | raw }}
        </div>
    </div>
</div>
</body>
