{% extends 'pdfs/static/effort_reports' %}

{% block additional_styles %}
    <style>
        div.margin-top {
            margin-top: 30px;
        }

        div.report-area .padding-right {
            padding-right: 2%;
        }

        div.first-column {
            width: 58%;
        }

        div.additional-columns {
            width: 18%;
        }

    </style>
{% endblock %}

{% block title %}
    <title>Aufwandsrapport: {{ invoice.name }}</title>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div class="offer-title">
            <b>Aufwandsrapport: {{ invoice.name }}</b>
        </div>
    </div>

    <div class="margin-top">
        <b>Rechnung Nr. {{ invoice.id }}</b><br/><br/>
        <b>Zusammenfassung:</b><br/>
        {{ description | raw }}
    </div>

    <div class="margin-top report-area">
        <div class="float-left bold first-column padding-right">
            Bezeichnung
        </div>
        <div class="float-left bold text-align-right additional-columns padding-right">
            Anzahl
        </div>
        <div class="float-left bold additional-columns padding-right">
            Einheit
        </div>
        <br>
        <hr>
        <br>
        {% for date, items in content %}
            <div class="avoid-page-break">
                <div class=bold">Tag: {{ date|date("d.m.Y") }}</div>
                <br>
                {% for comment in items.comments %}
                    <div class="italic padding-right">{{ comment.comment }}</div>
                {% endfor %}
                {% for effort in items.efforts %}
                    <div class="clear-float">
                        <div class="float-left first-column padding-right">
                            {% if effort.position_description is empty %}
                                {{ effort.service_name }}
                            {% else %}
                                {{ effort.position_description }}
                            {% endif %}
                        </div>
                        <div class="float-left text-align-right additional-columns padding-right">
                            {{ (effort.effort_unit_is_time ? (effort.efforts_sum / effort.effort_unit_factor) : effort.efforts_sum) | round(2) }}
                        </div>
                        <div class="float-left additional-columns padding-right">
                            {{ effort.effort_unit_name }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                <hr>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
