{% extends 'pdfs/static/base' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block customer %}
    <div class="clear-float">
        <div class="recipient-address float-right">
            {{ addressLabel | raw }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div>
            {{ settings.sender_city }}, {{ "now"|date("d.m.Y") }}
        </div>

        <div>
            Sachbearbeiter: {{ invoice.accountant.first_name ~ ' ' ~ invoice.accountant.last_name }}
        </div>

        <div class="offer-title">
            <b>Rechnung: {{ invoice. name }}</b>
        </div>

        <table class="top_table">
            <tr>
                <td width="30%">Rechnung Nr. {{ invoice.id }}</td>
                {% if invoice.offer_id %}
                    <td width="30%">Offerte Nr. {{ invoice.offer_id }}</td>
                {% endif %}
                <td>MwSt.-ID {{ settings.sender_vat }}</td>
            </tr>
            <tr>
                {% if invoice.project %}
                    <td width="20%">Projekt Nr. {{ invoice.project.id }}</td>
                {% endif %}
                <td colspan="2">Kostenstellen {% for dist in invoice.distribution_of_costgroups %}
                        {{ dist.ratio }}% {{ dist.costgroup_number }}
                    {% endfor %}
                </td>
            </tr>
        </table>

        {% if invoice.start and invoice.end %}
            Aufwandzeitraum {{ invoice.start|date('d.m.Y') }} - {{ invoice.end|date('d.m.Y') }}
        {% endif %}

        {% if description %}
            <div class="description">
                {{ description | raw }}
            </div>
        {% endif %}
    </div>

    {% set tableBaseStyle = 'margin-top: 0px;padding-top: 0px;' %}
    {% set tableIndent = (breakdown.groupedPositions.count() > 1 ? 'padding-left: 10px;' : '') %}

    {% for group in breakdown.groupedPositions %}
        {% if (breakdown.groupedPositions.count() > 1) %}
        <div class="service-group-name">
            {{ group.groupName | raw }}
        </div>
        {% endif %}

        {{ tableGen(
            {
                "table": {
                "class": "table",
                "style": tableBaseStyle ~ tableIndent
            },
                "tfoot-tr": {
                "class": "bold-cells"
            },
                "thead-tr": {
                "class": (breakdown.groupedPositions.count() > 1) ? "light-font" : ""
            }
            },
            {
                "Bezeichnung": {"attr": { "class": "first-row" }},
                "Ansatz CHF": {"attr": { "class": "second-row text-align-right" }},
                "Einheit": {"attr": { "class": "third-row" }},
                "Anzahl": {"attr": { "class": "fourth-row" }},
                "MwSt. Satz": {"attr": { "class": "fifth-row text-align-right" }},
                "Teilbetrag CHF exkl. MwSt.": {"attr": { "class": "sixth-row text-align-right" }}
            },
            group.positions,
            {
                "description": {},
                "price_per_rate": {"attr": {"class": "text-align-right"}, "format": "money"},
                "rate_unit.billing_unit": {},
                "amount": {},
                "vat": {"attr": {"class": "text-align-right"}, "format": "percent"},
                "calculated_total": {"attr": {"class": "text-align-right" }, "format": "money"}
            },
            [
                {
                    "Subtotal": {"attr": {"colspan": "5" }},
                    (group.subtotal): {"format": "money", "attr": {"class": "text-align-right"}}
                }
            ]
        ) }}
    {% endfor %}

    {% if (breakdown.groupedPositions.count() > 1) %}
        {{ tableGen(
            {
                "table": {
                "class": "table",
                "style": "margin-top: 10px;"
            },
                "tfoot-tr-0": {
                "class": "bold-cells"
            }
            },
            {
            },
            undefined,
            {
            },
            [
                {
                    'Subtotal': {"attr": {"colspan": "5" }},
                    (breakdown.subtotal): {"format": "chf", "attr": {"class": "text-align-right"}}
                }
            ]
        ) }}
    {% endif %}

    {% if breakdown.discounts is not empty %}
        <div class="avoid-page-break">
            {{ tableGen(
                {
                    "table": {
                    "class": "table",
                    "style": "margin-top: 30px;"
                },
                    "tfoot-tr-1": {
                    "class": "bold-cells"
                }
                },
                {
                    "Abzug": {"attr": { "colspan": "5" }},
                    "Betrag CHF": {"attr": { "class": "sixth-row text-align-right" }}
                },
                breakdown.discounts,
                {
                    "name": {"attr": {"colspan": "5"}},
                    "value": {"attr": {"class": "text-align-right"}, "format": "money"},
                },
                [
                    {
                        "Abzüge Total": {"attr": {"colspan": "5" }},
                        (breakdown.discountTotal): {"format": "money", "attr": {"class": "text-align-right"}}
                    },
                    {
                        "Subtotal": {"attr": {"colspan": "5"}},
                        (breakdown.rawTotal): {"format": "money", "attr": {"class": "text-align-right"}}
                    }
                ]
            ) }}
        </div>
    {% endif %}

    {% set totalTitel = 'Rechnungstotal' %}
    {% set vatTotalTitel = 'Mehrwertsteuer Total' %}

    {% if breakdown.fixedPrice %}
        {% set totalTitel = 'Aufwandstotal' %}
        {% set vatTotalTitel = 'Aufwandsmehrwertsteuer Total' %}
    {% endif %}

    <div class="avoid-page-break">
        {{ tableGen(
            {
                "table": {
                    "class": "table",
                    "style": "margin-top: 30px;"
                },
                "tfoot-tr-1": {
                    "class": "bold-cells"
                }
            },
            {
                "MwSt. Satz": {"attr": { "colspan": "5"}},
                "Betrag CHF": {"attr": { "class": "sixth-row text-align-right" }}
            },
            breakdown.vats,
            {
                "vat": {"attr": {"colspan": "5"}, "format": "percent"},
                "value": {"attr": {"class": "text-align-right"}, "format": "money"},
            },
            [
                {
                    (vatTotalTitel): {"attr": {"colspan": "5"}},
                    (breakdown.vatTotal): {"format": "money", "attr": {"class": "text-align-right"}}
                },
                {
                    (totalTitel): {"attr": {"colspan": "5" }},
                    (breakdown.total): {"format": "chf", "attr": {"class": "text-align-right"}}
                }
            ]
        ) }}
    </div>

    {% if breakdown.fixedPrice  %}
        <div class="avoid-page-break">
            {{ tableGen(
                {
                    "table": {
                    "class": "table",
                    "style": "margin-top: 30px;"
                },
                    "tfoot-tr-1": {
                    "class": "bold-cells"
                }
                },
                {
                    "MwSt. Satz": {"attr": { "colspan": "5"}},
                    "Betrag CHF": {"attr": { "class": "sixth-row text-align-right" }}
                },
                breakdown.fixedPriceVats,
                {
                    "vat": {"attr": {"colspan": "5"}, "format": "percent"},
                    "value": {"attr": {"class": "text-align-right"}, "format": "money"},
                },
                [
                    {
                        "Mehrwertsteuer Total": {"attr": {"colspan": "5"}},
                        (breakdown.fixedPriceVatsSum): {"attr": {"class": "text-align-right"}, "format": "money"}
                    },
                    {
                        "Rechnungstotal": {"attr": {"colspan": "5" }},
                        (breakdown.fixedPrice): {"format": "chf", "attr": {"class": "text-align-right"}}
                    }
                ]
            ) }}
        </div>

    {% endif %}


    Zahlbar 30 Tage netto
{% endblock %}


