{% extends 'pdfs/static/base' %}

{% block title %}
    <title>Offerte_{{ offer.id }}_{{ offer.name | split(',') | first | split(';') | first |
        replace({'ä': 'ae', 'ö': 'oe', 'ü': 'ue', 'Ä': 'Ae', 'Ö': 'Oe', 'Ü': 'Ue', ' ': '_', ':': '', ';': '', '.': ''})}}_{{ "now"|date("Y_m_d") }}</title>
{% endblock %}

{% block customer %}
    <div class="clear-float">
        <div class="recipient-address float-right">
            {{ addressLabel | raw }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div>
            {{ settings.sender_city }}, {{ "now"|date("d.m.Y") }}
        </div>

        <div>
            Sachbearbeiter: {{ offer.accountant.first_name ~ ' ' ~ offer.accountant.last_name }}
        </div>

        <div class="offer-title">
            <b>Offerte: {{ offer.name }}</b>
        </div>

        <div style="padding-top: -10px;">
            <p>Leistungsangebot Nr. {{ offer.id }}
                {% if offer.project %}<br>Projekt Nr. {{ offer.project.id }}{% endif %}
            </p>
        </div>

        <div class="bold">
            {% if offer.short_description %}{{ offer.short_description }}{% endif %}
        </div>

        <div class="description">
            {{ description | raw }}
        </div>
    </div>

    <div class="force-page-break"></div>
    <b style="font-size: 16px;">Kostenübersicht</b>

    {% set tableIndent = (breakdown.groupedPositions.count() > 1 ? 'padding-left: 20px;' : '') %}

    {% for group in breakdown.groupedPositions %}
        {% if breakdown.groupedPositions.count() > 1 %}
        <div style="padding-top:10px;"><b style="font-size: 14px;">{{ group.groupName | raw }}</b></div>
        {% endif %}
        <table class="table" style="{{ tableIndent }}">
            <thead>
            <tr class="{{ (breakdown.groupedPositions.count() > 1 ? 'light-font' : '') }}">
                <th class="first-row">Position</th>
                <th class="second-row text-align-right">Ansatz CHF</th>
                <th class="third-row">Einheit</th>
                <th class="fourth-row">Anzahl</th>
                <th class="fifth row text-align-right">MwSt. Satz</th>
                <th class="sixth-row text-align-right">Teilbetrag CHF exkl. MwSt.</th>
            </tr>
            </thead>
            <tbody>
            {% for position in group.positions %}
                <tr>
                    <td>
                        {{ position.service.name }}
                        {% if position.description is defined %}
                            <br/><span style="font-size: 12px;">{{ position.description }}</span>
                        {% endif %}
                    </td>
                    <td class="text-align-right">{{ (position.price_per_rate / 100) | number_format(2, '.', "'") }}</td>
                    <td>{{ position.rate_unit.billing_unit }}</td>
                    <td>{{ position.amount }}</td>
                    <td class="text-align-right">{{ position.vat * 100 }} %</td>
                    <td class="text-align-right">{{ (position.calculated_total / 100) | number_format(2, '.', "'") }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr class="{{ (breakdown.groupedPositions.count() > 1 ? '' : 'bold-cells') }}">
                <td colspan="5" class="text-align-left">Subtotal</td>
                <td class="text-align-right">{{ ((group.subtotal) / 100) | number_format(2, '.', "'") }}</td>
            </tr>
            </tfoot>
        </table>
    {% endfor %}

    {% if (breakdown.groupedPositions.count() > 1) %}
        <table class="table" style="padding-top: 10px;">
            <tfoot>
            <tr class="bold-cells">
                <td colspan="5" class="text-align-left">Subtotal</td>
                <td class="text-align-right">{{ ((breakdown.subtotal) / 100) | number_format(2, '.', "'") }}</td>
            </tr>
            </tfoot>
        </table>
    {% endif %}

    {% if breakdown.discounts is not empty %}
        <div class="avoid-page-break">
            {{ tableGen(
                {
                    "table": {
                    "class": "table",
                    "style": "margin-top: 30px;"
                },
                    "tfoot-tr-1": {
                    "class": "bold-cells"
                }
                },
                {
                    "Abzug": {"attr": { "colspan": "5", "class": "text-align-right" }},
                    "Betrag": {"attr": { "class": "sixth-row text-align-right" }}
                },
                breakdown.discounts,
                {
                    "name": {"attr": {"colspan": "5", "class": "text-align-right"}},
                    "value": {"attr": {"class": "text-align-right"}, "format": "chf"},
                },
                [
                    {
                        "Abzüge Total": {"attr": {"colspan": "5", "class": "text-align-right"}},
                        (breakdown.discountTotal): {"format": "chf", "attr": {"class": "text-align-right"}}
                    },
                    {
                        "Subtotal": {"attr": {"colspan": "5", "class": "text-align-right"}},
                        (breakdown.rawTotal): {"format": "chf", "attr": {"class": "text-align-right"}}
                    }
                ]
            ) }}
        </div>
    {% endif %}

    <div class="avoid-page-break">
        {{ tableGen(
            {
                "table": {
                "class": "table",
                "style": "margin-top: 30px;"
            },
                "tfoot-tr-1": {
                "class": "bold-cells"
            }
            },
            {
                "MwSt. Satz": {"attr": { "colspan": "5", "class": "text-align-right" }},
                "Betrag": {"attr": { "class": "sixth-row text-align-right" }}
            },
            breakdown.vats,
            {
                "vat": {"attr": {"colspan": "5", "class": "text-align-right"}, "format": "percent"},
                "value": {"attr": {"class": "text-align-right"}, "format": "chf"},
            },
            [
                {
                    "Mehrwertsteuer Total": {"attr": {"colspan": "5", "class": "text-align-right"}},
                    (breakdown.vatTotal): {"format": "chf", "attr": {"class": "text-align-right"}}
                },
                {
                    "Total": {"attr": {"colspan": "5", "class": "text-align-right"}},
                    (breakdown.total): {"format": "chf", "attr": {"class": "text-align-right"}}
                }
            ]
        ) }}
    </div>

    <div class="avoid-page-break">
        <p class="bold">Bitte unterschrieben retournieren bis {{ "now" | date_modify("+30 days") | date("d.m.Y") }}.</p>

        <div class="clear-float signing-area">
            <div class="signature">
                <div class="bold">Unterschrift des Auftragsnehmers:</div>
                <div class="date_location">Ort / Datum:</div>
                <div class="dateline">{{ settings.sender_city ~ ', ' ~ "now"|date("d.m.Y") }} </div>
            </div>
            <div class="signature">
                <div class="bold">Unterschrift des Auftraggebers:</div>
                <div class="date_location">Ort / Datum:</div>
                <div class="dateline" style="border-bottom: 1px dotted black;"><p></p></div>
            </div>
        </div>
    </div>
{% endblock %}