{% extends 'pdfs/static/base' %}

{% block additional_styles %}
    <style>
        .hours {
            width: 15%;
            padding-right: 1em;
        }
    </style>
{% endblock %}


{% block title %}
    <title>{{ project.name }}</title>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div class="offer-title">
            <h1>{{ project.name }}</h1>
            <h3>{{ from | date("d.m.Y")}} - {{ to | date ("d.m.Y")}}</h3>
        </div>
    </div>

    <div>
        {{ tableGen(
            {
                "table": {
                "class": "table",
                "style": "margin-top: 30px;"
                },
            },
            {
                "Datum": {},
                "Stunden": {"attr": { "class": "text-align-right hours" }},
                "Arbeit": {},
                "Mitarbeiter": {},
            },
            efforts,
            {
                "date": {"format": "date"},
                "value": {"attr": {"class": "text-align-right hours"}, "format": "cast1"},
                "service": {},
                "employee": {}
            },
            []
        ) }}
    </div>

    <div>
        {{ tableGen(
            {
                "table": {
                "class": "table",
                "style": "margin-top: 30px;"
            },
            },
            {
                "Mitarbeiter": {},
                "Total Stunden": {"attr": { "class": "text-align-right" }},
            },
            sums,
            {
                "employee": {},
                "sum": {"attr": {"class": "text-align-right"}, "format": "cast1"},
            },
            []
        ) }}
    </div>

    <div>
        {% set total = chargedDays * dailyRate %}
        <table class="table" style="margin-top: 30px">
            <thead>
            <tr>
                <th>Kostenstelle</th>
                <th>Berechnung</th>
                <th class="text-align-right">Total CHF</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Total Einsatztage</td>
                <td>{{ chargedDays }} * {{ dailyRate | money }}</td>
                <td class="text-align-right">{{ total | money }}</td>
            </tr>
            <tr>
                <td>MwSt.</td>
                <td>{{ vat | vat }} * {{ total | money }}</td>
                <td class="text-align-right">{{ (vat * total) | money }}</td>
            </tr>
            <tr class="bold-cells">
                <td>Total</td>
                <td></td>
                <td class="text-align-right">{{ ((vat+1) * total) | money }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
