{% extends 'pdfs/static/effort_reports' %}

{% block title %}
    <title>Aufwandsrapport: {{ project.name }}</title>
{% endblock %}

{% block content %}
    <div class="header clear-float">
        <div class="offer-title">
            <b>Aufwandsrapport: {{ project.name }}</b>
        </div>
    </div>

    <div class="margin-top">
        <b>Projekt Nr. {{ project.id }}</b><br/>
        {% if end and start %}
            Leistungen vom {{ start | date("d.m.Y") }} bis zum {{ end | date("d.m.Y") }}.
        {% elseif not end and start %}
            Leistungen ab dem {{ start | date("d.m.Y") }}.
        {% elseif end and not start %}
            Leistungen bis zum {{ end | date("d.m.Y") }}.
        {% else %}
            Leistungen vom {{ content | keys | first | date("d.m.Y") }} bis {{ content | keys | last | date("d.m.Y") }}.
        {% endif %}
        <br/><br/>
        <b>Zusammenfassung:</b><br/>
        {{ description | raw }}
    </div>

    <div class="margin-top report-area">
        <div class="float-left bold first-column padding-right">
            Bezeichnung
        </div>
        <div class="float-left bold text-align-right additional-columns padding-right">
            Anzahl
        </div>
        <div class="float-left bold additional-columns padding-right">
            Einheit
        </div>
        <br>
        <hr>
        <br>
        {% for date, items in content %}
            <div class="avoid-page-break">
                <div class=bold">Tag: {{ date|date("d.m.Y") }}</div>
                <br>
                {% for comment in items.comments %}
                    <div class="italic padding-right">{{ comment.comment }}</div>
                {% endfor %}
                {% for effort in items.efforts %}
                    <div class="clear-float">
                        <div class="float-left first-column padding-right">
                            {% if effort.position_description is empty %}
                                {{ effort.service_name }}
                                {% if effort.is_ambiguous %}
                                    {% if effort.group_name is not null %}
                                        [{{ effort.group_name }}]
                                    {% else %}
                                        [Generell]
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {{ effort.position_description }}
                            {% endif %}
                        </div>
                        <div class="float-left text-align-right additional-columns padding-right">
                            {{ (effort.effort_unit_is_time ? (effort.efforts_sum / effort.effort_unit_factor) : effort.efforts_sum) | round(2) }}
                        </div>
                        <div class="float-left additional-columns padding-right">
                            {{ effort.effort_unit_name }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                <hr>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
